<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nurse.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nurse.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @nurse.phone %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @nurse.doctor_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @nurse.department_id %>
</p>

<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
